.mt-30 {
    margin-top: 30rem;
}

.mt-8 {
    margin-top: 8rem;
}

.bg-black {
    background-color: black;
}

.mt-4 {
    margin-top: 4rem;
}

.bg-blue {
    background-color: blue;
}

.mt-3 {
    margin-top: 3rem;
}

.w-50 {
    width: fit-content;
}