<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Çok Satanlar</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="../Public/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page"
                                    href="index.html">Ana Sayfa</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="satisYap.html">Satış
                                    Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active"
                                    href="cokSatanlar.html">Çok Satanlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="prime.html">Prime</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gününFirsatlari.html">Günün Fırsatları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="müsteriHizmetleri.html">Müşteri Hizmetleri</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            

            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-6 text-center col-md-4 col-lg-2">
                    <img src="../Public/img/resim8.jpeg">
                    <h6 style="font-size:12px">Gece Yarısı Kütüphanesi</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        1. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim9.jpeg">
                    <h6 style="font-size:12px">Seninle Başlamadı</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        2. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim10.jpeg">
                    <h6 class="text-center" style="font-size:12px ">Kaplanın Sırtında</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        3. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim11.jpeg">
                    <h6 style="font-size:12px">Kızıl Veba</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        4. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim12.jpeg">
                    <h6 style="font-size:12px">Atomik Alışkanlıklar</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        5. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim8.jpeg">
                    <h6 style="font-size:12px">İnsanlığı Yitirirken</h6>
                   
                      
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        6. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
        

            
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim8.jpeg">
                    <h6 style="font-size:12px">Gece Yarısı Kütüphanesi</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        1. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim9.jpeg">
                    <h6 style="font-size:12px">Seninle Başlamadı</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        2. Sırada</button>
                    <p class="text-md-end text-center ">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim10.jpeg">
                    <h6 style="font-size:12px">Kaplanın Sırtında</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        3. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim11.jpeg">
                    <h6 style="font-size:12px">Kızıl Veba</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        4. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim12.jpeg">
                    <h6 style="font-size:12px">Atomik Alışkanlıklar</h6>
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        5. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim8.jpeg">
                    <h6 style="font-size:12px">İnsanlığı Yitirirken</h6>
                   
                      
                    <button type="button" class="btn btn-primary">Çok Satanlarda
                        6. Sırada</button>
                    <p class="text-md-end text-center">51,90</p>
                </div>
        

            </div>









        </div>




        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>
</html>