<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Günün Fırsatları</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="../Public/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page"
                                    href="#">Ana Sayfa</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="satisYap.html">Satış
                                    Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cokSatanlar.html">Çok
                                    Satanlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="prime.html">Prime</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active "
                                    href="gününFirsatlari.html">Günün Fırsatları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="müsteriHizmetleri.html">Müşteri
                                    Hizmetleri</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row mt-5">
                <div class="col-sm-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim24.jpeg">
                    <button class="btn btn-danger mt-3 ms-auto d-flex
                        ">
                        Fırsat </button>
                    <p>Ofis ürürnlerinde indirim fırsatı</p>
                    <span>
                        Kalan Süre:09.25.12
                    </span>
                </div>



                <div class="col-sm-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim25.jpeg">
                    <button class="btn btn-danger mt-3 ms-auto d-flex
                        ">
                        Fırsat </button>
                    <p>Kitaplarsa sepet indirim fırsatı</p>
                    <span>
                        Kalan Süre:09.25.12
                    </span>
                </div>



                <div class="col-sm-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim26.jpeg">
                    <button class="btn btn-danger mt-3 ms-auto d-flex">
                        Fırsat </button>
                    <p>Erkek çocuk giyimde sepette indirim fırsatı</p>
                    <span>
                        Kalan Süre:09.25.12
                    </span>
                </div>



                <div class="col-sm-6 col-md-4 col-lg-2">
                    <img src="../Public/img/resim27.jpeg">
                    <button class="btn btn-danger mt-3 ms-auto d-flex
                        ">
                        Fırsat </button>
                    <p>Kız çocuk giyimde sepette indirim fırsatı</p>
                    <span>
                        Kalan Süre:09.25.12
                    </span>
                </div>
            </div>


        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


    </body>
</html>