<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Satış Yap</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="../Public/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page"
                                    href="index.html">Ana Sayfa</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#">Satış Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cokSatanlar.html">Çok
                                    Satanlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Prime</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="gününFirsatlari.html">Günün
                                    Fırsatları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="müsteriHizmetleri.html">Müşteri
                                    Hizmetleri</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-4">
                    <div class="mb-3 row mt-3">
                        <label for="inputAdii" class="col-sm-2
                            col-form-label">Adı</label>
                        <div class="col-sm-10">
                            <input type="Adii" class="form-control"
                                id="inputAdii">
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3 row mt-3">
                        <label for="inputBaskiYili" class="col-sm-3
                            col-form-label">BaskıYılı</label>
                        <div class="col-sm-9">
                            <input type="BaskıYili" class="form-control"
                                id="inputBaskiYili">
                        </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="mb-3 row mt-3">
                        <label for="inputDii" class="col-sm-2
                            col-form-label">Dili</label>
                        <div class="col-sm-10">
                            <input type="Dili" class="form-control"
                                id="inputDili">
                        </div>
                    </div>

                </div>




                <div class="row">
                    <div class="col-4">
                        <div class="mb-3 row mt-3">
                            <label for="inputYazar" class="col-sm-2
                                col-form-label">Yazar</label>
                            <div class="col-sm-10">
                                <input type="Yazar" class="form-control"
                                    id="inputYazar">
                            </div>
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="mb-3 row mt-3">
                            <label for="inputFiyati" class="col-sm-2
                                col-form-label">Fiyatı</label>
                            <div class="col-sm-10">
                                <input type="Fiyati" class="form-control"
                                    id="inputFiyati">
                            </div>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="mb-3 row mt-3">
                            <label for="inputSayfaSayisi" class="col-sm-3
                                col-form-label">SayfaSayısı</label>
                            <div class="col-sm-9">
                                <input type="sayfasayisi"
                                    class="form-control"
                                    id="inputSayfaSayisi">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="floatingTextarea" class="col-sm-2
                            col-form-label">Açıklama</label>
                        <div class="col-sm-10">
                            <textarea class="form-control"
                                id="floatingTextarea"></textarea>
                        </div>


                    </div>
                    <div class="row justify-content-end">
                        <button style="width:fit-content "
                            type="button" class="btn
                            btn-primary">Ekle</button>

                    </div>

                </div>
            </div>




            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        </body>
    </html>