<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <input id="todo-text" type="text"
                        placeholder="Todo giriniz">
                    <button onclick="addTodo()">Ekle</button>
                    <div id="todo"></div>
                </div>

            </div>


            <div class="row">
                <div class="col-4">
                    <label>Yapılacaklar</label>
                    <div id="yapilacak"></div>
                </div>
                <div class="col-4">
                    <label>Yapılanlar</label>
                    <div id="yapilan"></div>
                </div>
                <div class="col-4">
                    <label>Yapılmışlar</label>
                    <div id="yapilmis"></div>
                </div>

            </div>

        </div>



        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script
            src="../Public/js/todoo.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
            integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
            crossorigin="anonymous"></script>


        <script>

</script>

    </body>
</html>