<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href="../Public/css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div class="row product">
                <div class="col-4 mt-5">
                    <img class="w-50" src="../Public/img/bracelet.webp">
                </div>


                <div class="col-8 mt-3 border">
                    <div class="row mt-3">
                        <span>Ürün Adı: 3 Lü Bileklik </span>
                    </div>
                    <div class="row mt-3">
                        <span>Ürün Açıklaması: Kadın Orijinal 3 Lü Bileklik Seti
                            Faturalı Renk Atmaz Garantili Hediye Paketli
                            jennydaphne2808</span>
                    </div>
                    <div class="row mt-3">
                        <span>Fiyatı: 79,90 TL</span>
                    </div>
                    <button onclick="productRemove(event)" type="button"
                        class="btn
                        btn-primary
                        mt-3">Sil</button>

                    <button onclick="productAdd(79)" type="button" class="btn
                        btn-primary mt-3 ms-5">Sepete
                        Ekle</button>
                </div>
            </div>
            <div class="row product">
                <div class="col-4 mt-3">
                    <img class="w-50" src="../Public/img/earring.webp">
                </div>

                <div class="col-8 mt-3 border">
                    <div class="row mt-3">
                        <span>Ürün Adı: Taşlı Güneş Model Küpe </span>
                    </div>
                    <div class="row mt-3">
                        <span>Ürün Açıklaması:Tamamı Saf 925 Ayar Gümüş Zirkon
                            Taşlı Güneş Model Küpe bbb-nnn011</span>
                    </div>
                    <div class="row mt-3">
                        <span>Fiyatı: 95 TL</span>
                    </div>
                    <button onclick="productRemove(event)" type="button"
                        class="btn btn-primary mt-3">Sil</button>
                    <button onclick="productAdd(95)" type="button" class="btn
                        btn-primary mt-3 ms-5">Sepete
                        Ekle</button>
                </div>
            </div>
            <div class="row product">
                <div class="col-4 mt-3">
                    <img class="w-50" src="../Public/img/ortu.webp">
                </div>

                <div class="col-8 mt-5 border">
                    <div class="row mt-3">
                        <span>Ürün Adı: 3 Lü Bileklik </span>
                    </div>
                    <div class="row mt-3">
                        <span>Ürün Açıklaması: Kadın Orijinal 3 Lü Bileklik Seti
                            Faturalı Renk Atmaz Garantili Hediye Paketli
                            jennydaphne2808</span>
                    </div>
                    <div class="row mt-3">
                        <span>Fiyatı: 79,90 TL</span>
                    </div>
                    <button onclick="productRemove(event)" type="button"
                        class="btn btn-primary mt-3">Sil</button>
                    <button onclick="productAdd()" type="button" class="btn
                        btn-primary mt-3 ms-5">
                        Sepete Ekle</button>
                </div>
            </div>



            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
            <script
                src="../Public/js/yeniUrunlistesi.js"></script>
        </body>
    </html>